* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-image: url("/jsnrch003.github.io/hal-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-x: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

h1 {
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    text-align: center;
}
